@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --font-fraunces: 'Fraunces', serif;
    --font-inter: 'Inter', sans-serif;
    --rafa-white: #FFFFFF;
    --rafa-purple: #B2A4FF;
    --rafa-red: #FFB4B4;
    --rafa-orange: #FFDEB4;
    --rafa-yellow: #FDF7C3;
    --border-color: #000000
}

h1, h2, h3, h4 {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000000;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}
